// Custom styles.
//主题 scheme: Mist 自定义样式
html.mist{
  //中间背景颜色
  .container{
      background-color: rgba(219, 219, 219, 0.5);
  }
  
  //头部进度条
  .pace .pace-progress{
    background: #222;
  }

  .site-title{
    //头部logo字体谷歌样式
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    line-height: 1.4em;
  }
  
  //文章添加阴影效果
  .post{
    margin-top:60px;
    .post-block {
      padding: 35px 30px;
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
      border-radius: initial;
      //自定义文章结束标记样式
      .article_TheEnd{
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
        color: #ccc;
      }
    }
  }
  //来必力评论系统样式
  .comments{
    margin: 0 auto;
    padding: 35px 30px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: initial;
  }
  //右侧头像最大宽度
  .site-author-image{
    max-width: 155px;
  }
  //右侧字体颜色
  .sidebar-nav .sidebar-nav-active{
    color: #fc6423;
    border-bottom-color: #fc6423;
  }
  .sidebar-nav .sidebar-nav-active:hover{
    color: #fc6423;
  }
  .post-toc .nav .active > a{
    color: #fc6423;
    border-bottom-color: #fc6423;
  }
  .post-toc .nav .active-current > a{
    color: #fc6423;
  }
    
  //文章底部版权样式
  .post-copyright{
    line-height: 2em;
    font-size: 0.93rem;
    padding: 0.5em 0.75em;
    strong{
      color: #b5b5b5;
      word-break: break-all;
    }
  }
  .copy-path{
    display: inline-block;
    width: 1em;
    margin-left: 0.5em;
    color: #b5b5b5;
    &:hover{
    color: #000;
    cursor: pointer;
    }
  }

 @media (min-width: 1600px) {
    .container .header-inner,
    .container .main-inner{
    width: $main-desktop;
    }
  }
  //自定义移动端布局
  @media (max-width: 767px) {
    .menu {
      margin: 10px auto;
      padding: 0;
    }

    .site-meta {
      margin-left: 0;
        .site-title {
        line-height: 28px;
      }
    }

    .header-inner {
      width: auto;
      margin-bottom: 50px;
      padding: 10px 10px 0;
      .site-brand-wrapper{
        margin-bottom: 10px;
        content: " ";
        display: table;
        clear: both;
        width: 100%;
      }
    }

    .container .main-inner {
      width: auto;
      margin-top: 0;
    }

    .github-corner{
      display: none;
    }

    .copy-path {
      display: none;
    }
    
  }
}